* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: rgb(247, 241, 241);
    font-family: "Montserrat", sans-serif;
  }
  
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  
  /* .header__logo {
    display: flex;
    align-items: center;
  }
  
  .header__logo-img {
    width: 91px;
    height: 72px;
  }
  
  .header__logo-text {
    display: inline-block;
    padding-left: 22px;
    font-weight: 600;
    font-size: 48px;
    color: #7e72f2;
  }
  
  .breadcrumb .breadcrumb__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .breadcrumb__item {
    display: flex;
    align-items: center;
    padding-right: 12px;
  }
  
  .breadcrumb__item:last-child {
    padding-right: 0;
    font-size: 0.875rem;
    color: typography-700;
  }
  
  .breadcrumb__link {
    cursor: default;
    text-decoration: none;
    color: #6f64f8;
  }
  
  .breadcrumb .link-icon {
    display: none;
    padding-left: 12px;
    font-size: 0.75rem;
    color: typography-900;
  }
  
  .filter__container .filter__container-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  
  .filter__container-title {
    margin-bottom: 0;
    font-weight: 400;
  }
  
  .toggle__filters {
    font-size: 1.125rem;
    border-radius: border-radius;
    box-shadow: box-shadow;
  }
  
  .filters__container-content {
    
    box-shadow: box-shadow;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    background-color: white;
    overflow: hidden; */
    /* border-bottom: 1px solid border-400; */
    /* height: 100%; */
  /* } */
  
  /* .form__group-wrap {
    padding: 30px;
  }
  
  .form__group {
    margin-bottom: 28px;
    border-bottom: 1px solid #D6D6D6;
  }
  
  .form__group:last-child {
    border-bottom: none;
  }
  
  .form__group-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 28px;
  }
  
  
  
  .filters__container-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
  }
  
  .form__checkbox {
    margin-bottom: 0;
  }
  
  .amount {
    display: inline-block;
    margin-left: 8px;
    font-size: 1rem;
    font-weight: 300;
    color: typography-700;
  }
  
  .clear__filters {
    width: 100%;
    margin-top: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: box-shadow;
    /* border-radius: border-radius;
    font-size: 1.125rem; */
    /* background: #6F64F8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    color: #FFFFFF; 
  } */ 
  
  .page-wrapper {
    display: flex;
  }
  
  .sidebar {
    width: 30%;
  }
  
  .main {
    width: 70%;
    padding: 0 20px;
  }
  
  /* .product__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }
  
  .products__search-title {
    font-size: 18px;
    font-weight: 400;
  }
  
  .products__search-btn {
    border-radius: 8px;
    background-color: #6f64f8;
    width: 46px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .products__search-btn i {
    color: white;
  } */
  
  
  /* Search panel */
  /* .form__search-input {
    position: relative;
    line-height: 62px;
  }
  
  .search-input {
    height: 62px;  
    width: 100%;
    border-radius: 8px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 0 32px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    margin-bottom: 28px;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .form__search-input label {
    position: absolute;
    right: 32px;
    color: #606060;
  
  } */
  

  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    margin-bottom: 28px;
  }
  
  .product-card {
    width: 300px;
    height: 430px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .product-card__inner {
    height: 100%;
    padding: 25px;
  }
  
  .product-card__image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    height: 70%;
    width: 100%;
  }
  
  .product-card__wrapper {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .rating {
    background-color: #6f64f8;
    padding: 6px 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rating__count {
    color: #ededed;
    font-size: 14px;
    display: block;
  }
  
  .rating__image {
    margin-left: 10px;
  }
  
  .rating__count:not(:first-child) {
    display: none;
  }
  
  .rating__image:not(:first-child) {
    display: none;
  }
  
  .rating__price {
    font-size: 18px;
  }
  
  .product-card__name {
    color: #2c2c2c;
    margin-top: 16px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .product-card__description {
    color: #2c2c2c;
    font-size: 12px;
    font-weight: 300;
  }
  
  .product-card__buttons {
    height: 45px;
    display: flex;
    justify-content: space-between;
  }
  
  .button-wishlist {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: none;
    cursor: pointer;
  }
  
  .button-wishlist__image {
    background-color: #ededed;
    margin-right: 10px;
  }
  
  .button-wishlist__text {
    color: #2c2c2c;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .button-addtocart {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #6f64f8;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .button-addtocart__image {
    color: #ffffff;
    margin-right: 10px;
  }
  
  .button-addtocart__text {
    text-transform: uppercase;
    font-weight: 600;
  }
  
  /* .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
  }
  
  
  .pagination__link {
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  
  .pagination__group {
    background-color: #EDEDED;
    display: flex;
    gap: 30px;
    padding: 0 30px;
    border-radius: 40px;
  }
  
  .pagination__link_active {
    background-color: #6F64F8;
    padding: 0 15px;
    border-radius: 40px;
    color: white;
  }
  
  .pagination__prev, .pagination__next {
    background-color: #EDEDED;
    padding: 0 15px;
    border-radius: 40px;
  } 
  
  .filters__container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }
  
  .filters__container-title {
    font-weight: 400;
    font-size: 18px;
  }
  
  .toggle__filters {
    height: 40px;
    width: 46px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-white {
    background-color: white;
  }
  
  @media (max-width: 1200px) {
    .product-list {
      width: 50%;
    }
  
    .filters__container-content {
      padding: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
  
    .header {
      padding-left: 15px;
    }
  
    .breadcrumbs {
      margin: 15px 5px;
    }
  
    .product-list {
      width: 50%;
    }
  
    .sidebar {
      display: none;
    }
  
    .pagination__group a:nth-child(n + 6):nth-child(-n + 10) {
      display: none;
    }
  }
  
  @media (max-width: 576px) {
    .product-list {
      width: 50%;
    }
  }
   */